        body {
            margin: 0;
            font-family: "Tiempos", Nunito, Lato;
            font-size: 18px;
            line-height: 1.4;
            background: #f5f5f5; /*or #F9F9F5 if a little yellow preferred */
        }
        .container {
            display: flex;
            width: 100%;
            height: 100vh;
            transition: margin-left 0.3s, width 0.3s;
        }
        .drawer-open .outline {
            width: 30%;
        }
        .drawer-open .notes {
            width: 70%;
        }
        .drawer-closed .outline {
            width: 8%;
        }
        .drawer-closed .notes {
            width: 92%;
        }
        .outline {
            padding: 10px;
            border-right: 1px solid #ccc;
            overflow-y: auto;
            transition: width 0.3s;
        }
        .node-container {
            margin-top: 0px;
        }
        .notes {
            padding: 10px;
            overflow-y: auto;
            transition: width 0.3s;
        }
        .note-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        /* Media query for mobile devices */
        @media (max-width: 767px) {
            .container {
                flex-direction: column-reverse;
            }
        
            .outline {
                width: 100%;
                border-right: none;
                
            }
        
            .notes {
                width: 100%;
                border-top: 1px solid #ccc;
            }
        
            .drawer-open .outline {
                    width: 95%;
                    height: 90%;
                }
            .drawer-open .notes {
                width: 95%;
                height: auto;
            }
            .drawer-closed .outline {
                width: 95%;
                height: 10%;
            }
            .drawer-closed .notes {
                width: 95%;
                height: auto;
            }
            .drawer-button svg {
            width: 24px;
            height: 24px;
            transform: rotate(-90deg);
            }
        }
        .tab-container {
            margin-top: 1px;
        }
        .tab {
            display: inline-block;
            padding: 5px 10px;
            margin: 0 4px 0 0;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 4px 4px 0 0;
            background-color: #f0f0f0;
            position: relative;
        }
       .tab .delete-icon {
            cursor: pointer;
            margin-left: 10px;
            color: red;
            font-weight: bold;
            font-size: 16px;
            transition: all 0.3s ease;
            display: inline-block; /* Ensures the transform works correctly */
        }
        .tab .delete-icon:hover {
            transform: translateY(-3px) scale(1.5);
            text-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
        .active-tab {
            background-color: #e0e0e0;
            font-weight: bold;
        }
        .node {
            display: flex;
            align-items: center;
        }
        .node > span, .node > input {
            margin-left: 5px;
        }
        .note-content {
            width: calc(100% - 12px); /* Adjust width to fit the content area */
            height: calc(100vh - 120px); /* Adjust height based on available space */
            margin-top: 0;
            padding: 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
            overflow-y: auto;
        }
        .note-content p {
            margin: 0; /* Remove default margins for paragraphs */
            padding: 0;
        }
        /* Override Pell styles */
        .pell-content {
          height: 100% !important; /*min-height: 200px; Ensure there's enough space for selection */
          position: relative; /* Position relative for popup positioning */
        }
        .pell-content pre {
          font-size: 14px;
        }
        .pell-actionbar {
          position: absolute;
          display: none; /* Hidden by default */
          background-color: white;
          border: 1px solid #ccc;
          padding: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          z-index: 10;
        }
        .actions {
            margin-left: 5px;
            font-size: 12px;
        }
        .icon {
            cursor: pointer;
            margin-left: 5px;
            text-decoration: none;
            color: black;
        }
        .node-container ul {
            list-style-type: none;
            padding-left: 0;
        }
        .node-container li {
            margin-bottom: 5px;
        }
        .menu {
            position: absolute;
            top: 30px;
            left: 0; /* Align menu to the left */
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 5px;
            display: none; /* Hidden by default */
            z-index: 1;
        }
        .menu a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
        .menu a:hover {
            background-color: #f0f0f0;
        }
        .drawer-button {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 2px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            position: absolute;
            right: 0; /* Align drawer button to the right */
            top: 0;
        }
        .drawer-button svg {
            width: 24px;
            height: 24px;
        }
        .menu-container {
            display: flex;
            position: relative;
        }
        .drawer-closed .menu-button {
            display: none; /* Hide menu when drawer is closed */
        }
        .drawer-closed .node-container {
            display: none; /* Hide node container when drawer is closed */
        }
        .accordion {
          width: 90%;
          margin: 10px 0;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 10px;
          background-color: #f9f9f9;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        }
        .accordion summary {
          font-weight: bold;
          cursor: pointer;
          padding: 5px;
          background-color: #e9e9e9;
          border-radius: 4px;
          list-style: none;
        }
        .accordion summary:hover {
          background-color: #d9d9d9;
        }
        .accordion[open] summary {
          background-color: #ccc;
        }
        .accordion p {
          margin: 10px 0 0 !important;
          padding: 10px !important;
          background-color: #fff;
          border-radius: 4px;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .bookmark {
          width: 95%;
          margin: 10px 0 !important;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #f9f9f9;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;
          font-size: 16px;
        }
        .bookmark summary {
          font-weight: bold;
          cursor: pointer;
          padding: 10px;
          background-color: #e9e9e9;
          border-radius: 5px 5px 0 0;
          list-style: none;
          margin: 0;
          display: flex;
          align-items: center;
        }

        .bookmark summary::before {
          content: '📖'; /* Unicode for bookmark icon */
          font-size: 12px; /* Smaller size for the icon */
          margin-right: 10px;
        }

        .bookmark summary:hover {
          background-color: #d9d9d9;
        }

        .bookmark[open] summary {
          background-color: #ccc;
        }

        .bookmark p {
          margin: 0 !important;
          padding: 10px;
          background-color: #fff;
          border-radius: 0 0 5px 5px;
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .bookmark p:not(:last-child) {
          margin-bottom: 10px;
        }
        /* slideout panel */
        .slideout-panel {
            position: fixed;
            top: 0;
            right: -33.33vw; /* Hidden by default and set to one-third of the viewport width */
            width: 33.33vw; /* Make the width one-third of the viewport width */
            height: 100%;
            background-color: #f5f3ed;
            color: black;
            overflow-x: hidden;
            transition: right 0.3s;
            padding-top: 20px;
            z-index: 1000; /* Ensure it's on top */
        }
        #toggle:checked ~ .slideout-panel {
            right: 0;
        }
        #toggle:checked + .open-btn {
            display: none;
        }
        #toggle:not(:checked) ~ .slideout-panel .closebtn {
            display: none;
        }
        .open-btn {
            font-size: 16px;
            cursor: pointer;
            background-color: lightgrey; /* Change color to light grey */
            color: white;
            border: none;
            padding: 5px 0;
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 10px; /* Make it narrower */
            text-align: center;
            transition: 0.3s;
            z-index: 2;
        }
        .closebtn {
            padding: 5px 5px;
        }
        /* Dropdown Menu Styles */
        .dropdown-nav ul {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              font-size: 16px;
          }
        .dropdown-nav ul li {
              position: relative;
          }
        .dropdown-nav ul li a 
          {
              display: block;
              padding: 4px 10px;
              text-decoration: none;
              color: black;
          }
        .dropdown-nav ul li a:hover {
              background-color: #f1f1f1;
          }
        .dropdown-nav .dropdown {
              display: inline-block;
          }
        .dropdown-nav .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
              right: 0;
          }
        .dropdown-nav .dropdown-content a {
              color: black;
              padding: 4px 10px;
              text-decoration: none;
              display: block;
          }
        .dropdown-nav .dropdown-content a:hover {
              background-color: #f1f1f1;
          }
        .dropdown-nav .dropdown:hover .dropdown-content {
              display: block;
          }
