        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            display: flex;
            width: 100%;
            height: 100vh;
            transition: margin-left 0.3s, width 0.3s;
        }
        .drawer-open .outline {
            width: 30%;
        }
        .drawer-open .notes {
            width: 70%;
        }
        .drawer-closed .outline {
            width: 8%;
        }
        .drawer-closed .notes {
            width: 92%;
        }
        .outline {
            padding: 10px;
            border-right: 1px solid #ccc;
            overflow-y: auto;
            transition: width 0.3s;
        }
        .node-container {
            margin-top: 0px;
        }
        .notes {
            padding: 10px;
            overflow-y: auto;
            transition: width 0.3s;
        }
        .note-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
        /* Media query for mobile devices */
        @media (max-width: 767px) {
            .container {
                flex-direction: column-reverse;
            }
        
            .outline {
                width: 100%;
                border-right: none;
                
            }
        
            .notes {
                width: 100%;
                border-top: 1px solid #ccc;
            }
        
            .drawer-open .outline {
                    width: 95%;
                    height: 90%;
                }
            .drawer-open .notes {
                width: 95%;
                height: auto;
            }
            .drawer-closed .outline {
                width: 95%;
                height: 10%;
            }
            .drawer-closed .notes {
                width: 95%;
                height: auto;
            }
            .drawer-button svg {
            width: 24px;
            height: 24px;
            transform: rotate(-90deg);
            }
        }
        .tab-container {
            margin-top: 1px;
        }
        .tab {
            display: inline-block;
            padding: 5px 10px;
            margin: 0 2px;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 4px 4px 0 0;
            background-color: #f0f0f0;
            position: relative;
        }
       .tab .delete-icon {
            cursor: pointer;
            margin-left: 10px;
            color: red;
            font-weight: bold;
            font-size: 16px;
            transition: all 0.3s ease;
            display: inline-block; /* Ensures the transform works correctly */
        }
        .tab .delete-icon:hover {
            transform: translateY(-3px) scale(1.5);
            text-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
        .active-tab {
            background-color: #e0e0e0;
            font-weight: bold;
        }
        .node {
            display: flex;
            align-items: center;
        }
        .node > span, .node > input {
            margin-left: 5px;
        }
        .note-content {
            width: calc(100% - 12px); /* Adjust width to fit the content area */
            height: calc(100vh - 120px); /* Adjust height based on available space */
            margin-top: 0;
            padding: 0;
            border: 1px solid #ccc;
            box-sizing: border-box;
            overflow-y: auto;
        }
        .note-content p {
            margin: 0; /* Remove default margins for paragraphs */
            padding: 0;
        }
        /* Override Pell styles */
        .pell-content {
          height: 100% !important; /*min-height: 200px; Ensure there's enough space for selection */
          position: relative; /* Position relative for popup positioning */
        }

        .pell-actionbar {
          position: absolute;
          display: none; /* Hidden by default */
          background-color: white;
          border: 1px solid #ccc;
          padding: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          z-index: 10;
        }
        .actions {
            margin-left: 5px;
            font-size: 12px;
        }
        .icon {
            cursor: pointer;
            margin-left: 5px;
            text-decoration: none;
            color: black;
        }
        .node-container ul {
            list-style-type: none;
            padding-left: 0;
        }
        .node-container li {
            margin-bottom: 5px;
        }
        .menu {
            position: absolute;
            top: 30px;
            left: 0; /* Align menu to the left */
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 5px;
            display: none; /* Hidden by default */
            z-index: 1;
        }
        .menu a {
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            cursor: pointer;
        }
        .menu a:hover {
            background-color: #f0f0f0;
        }
        .drawer-button {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 2px;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
            position: absolute;
            right: 0; /* Align drawer button to the right */
            top: 0;
        }
        .drawer-button svg {
            width: 24px;
            height: 24px;
        }
        .menu-container {
            display: flex;
            position: relative;
        }
        .drawer-closed .menu-button {
            display: none; /* Hide menu when drawer is closed */
        }
        .drawer-closed .node-container {
            display: none; /* Hide node container when drawer is closed */
        }